---
layout: default
title: lim lab / research
categories:
 - research
---

<h1>Research Projects</h1>

{% for research in site.categories.research %}

{% if forloop.first %}
    {% assign counter = 0 %}
  <div class="row">
  {% else %}
    {% assign counter = counter | plus: 1 %}
    {% assign mod = counter | modulo: 3 %}
    {% if mod == 0 %}

  </div>
  <div class="row">

    {% endif %}
  {% endif %}
  <div class="col-lg-4 paperbox">
    <div class="media">
      <div class="research">
        <div class="title"><p><img class="icons" src="{{ research.image }}">{{ research.title }}</p></div>
        <div class="subtitle"><p>{{ research.subtitle }}</p></div>
        <div class="content"><p>{{research.content}}</p></div>
      </div>
    </div>
    <div class="bigspacer"></div>
    <div class="spacer"></div>
 <style>
.title {
    font-size: 26px;
    color: #0055b7;
}
.subtitle {
    font-size: 18px;
    margin-top: -15px;
    margin-bottom: -8px;
    color: #3377c5;
}
.content {
  line-height: 1.75;
}
.icons {
  width: 45px;
  margin-right: 8px; 
  margin-bottom: -6px;
}
.research {
  margin-left: 18px;
}
 </style>   
</div>
{% endfor %}
  </div>