---
layout: default
title: lim lab / research
categories:
 - research
---
<nav>
	<ul>
		<a class="navbar-brand" href="/">
			<img class="white_logo" src="/images/logos/lablogo_white.svg" height="99" width="98.4" />
		<li><a href="/index.html/"><h1><p class="lim_lab" style="color: #3377c5"><b>Lim Lab</b></p></h1></a></li>
		<li><a href="/blog/"><p class="nav" style="color: #3377c5">News</p></a></li>
		<li><a href="/publications/"><p class="nav" style="color: #3377c5">Publications</p></a></li>
		<li><a href="/research/"><p class="nav" style="color: #3377c5">Research</p></a></li>
		<li><a href="/team/"><p class="nav" style="color: #3377c5">Team</p></a></li>    
	</ul>
  </nav>
  
<style>
	.white_logo{
		margin-left:-9px;
		margin-top:0.25px;
	}
</style>

  <style>
	nav ul {
		display: flex;
		list-style: none;
	}
	nav ul li {
  margin-right: auto;
  margin-top: -9px;
  margin-left: 8px;
	}
	nav ul li a {
		text-decoration: none;
	}
	li{
		margin-left: 10px;
    margin-top: 15px;
	}
  .lim_lab {
    margin-top: 35px;
    font-size: 37px;
  }
  .nav {
    font-size: 21px;
    margin-top: 10px;
  }
  </style>

<h1>Research Projects</h1>


{% for research in site.categories.research %}

{% if forloop.first %}
    {% assign counter = 0 %}
  <div class="row">
  {% else %}
    {% assign counter = counter | plus: 1 %}
    {% assign mod = counter | modulo: 3 %}
    {% if mod == 0 %}

  </div>
  <div class="row">

    {% endif %}
  {% endif %}
  <div class="col-lg-4 paperbox">
    <div class="media">
      <div class="media-body">
        <div class="smallhead mb-1"><a href="{{ research.url }}" class="off">{{ research.title }}</a></div>
        <p class="note">{{ research.subtitle }}</p>
      </div>
      <a href="{{ research.url }}">
        <img class="ml-3" width=100 class="media-object" src="{{ research.image }}">
      </a>
    </div>
    <div class="bigspacer"></div>
    <div class="spacer"></div>
      </div>
{% endfor %}
  </div>