---
layout: default
title: lim lab / join
categories:
 - join
category: join
---

<h1 class="join">Join the Team</h1>

<style>
  .join {
    margin-top: -10px;
    margin-bottom: -20px;
  }
</style>

{% for join in site.categories.join %}

{% if forloop.first %}
    {% assign counter = 0 %}
  <div class="row">
  {% else %}
    {% assign counter = counter | plus: 1 %}
    {% assign mod = counter | modulo: 3 %}
    {% if mod == 0 %}

  </div>
  <div class="row">

    {% endif %}
  {% endif %}
  <div class="col-lg-4 paperbox">
    <div class="media">
      <div class="join">
        <div class="image"><img class="icons" src="{{ join.image }}"></div>
        <div class="subtitle"><p>{{ join.subtitle }}</p></div>
        <div class="content"><p>{{join.content}}</p></div>
      </div>
    </div>
    <div class="bigspacer"></div>
    <div class="spacer"></div>
 <style>
    .content {
        line-height: 1.75;
        font-size: 17px;
    }
    a {
     text-decoration: none;
	    color: #1a66be;
	}
    a:hover {
	    text-decoration: underline;
	    text-decoration-color: #1a66be;
	    color: #1a66be;
	}
 </style>   
</div>
{% endfor %}
  </div>