---
layout: default
title: lim lab / team
categories:
 - team
---
<nav>
	<ul>
		<a class="navbar-brand" href="/">
			<img class="white_logo" src="/images/logos/lablogo_white.svg" height="99" width="98.4" />
		<li><a href="/index.html/"><h1><p style="color: #3377c5"><b>Lim Lab</b></p></h1></a></li>
		<li><a href="/blog/"><p style="color: #3377c5">News</p></a></li>
		<li><a href="/publications/"><p style="color: #3377c5">Publications</p></a></li>
		<li><a href="/research/"><p style="color: #3377c5">Research</p></a></li>
		<li><a href="/team/"><p style="color: #3377c5">Team</p></a></li>    
	</ul>
  </nav>
  
<style>
	.white_logo{
		margin-left:-9px;
		margin-top:0.25px;
	}
</style>

  <style>
	nav ul {
		display: flex;
		list-style: none;
	}
	nav ul li {
  margin-right: auto;
  margin-top: -9px;
  margin-left: 8px;
	}
	nav ul li a {
		text-decoration: none;
	}
	li{
		margin-left: 10px;
    margin-top: 15px;
    font-size: 20px;
	}
  </style>

<h1>Current Members</h1>

<div class="bigspacer"></div>

{% for member in site.categories.team reversed %}
	{% if member.alumni != true %}
    {% cycle 'add rows': '<div class="row">', '', '' %}
		<div class="col-lg-4 memberbox">
			<div class="media">
  				<a class="float-left" href="{{ member.url }}">
    				<img width=160 class="mr-3" src="{{ member.image }}">
  				</a>
 			 	<div class="media-body">
    				<div class="head mb-1"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
			<div class="bigspacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'close rows': '', '</div>', '</div>' %}


<div class="bigspacer"></div>

{% for member in site.categories.team reversed %}
	{% if member.alumni == true %}
    {% cycle 'add rows 2': '<div class="row">', '', '' %}
		<div class="col-lg-4 memberbox">
			<div class="media">
  				<!--
  				<a class="pull-left" href="{{ member.url }}">
    				<img width=160 class="media-object" src="{{ member.image }}">
  				</a>
  				-->
 			 	<div class="media-body">
    				<div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
        </div>
    {% cycle 'close rows 2': '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'close rows 2': '', '</div>', '</div>' %}

<li>	
	{% if page.categories.first == 'join' %}
		  <li class="nav-link active">
		  {% else %}
		  <li class="nav-link">
		  {% endif %}
		  <a style="font: size 18px;" class="mx-1" href="/join"><p style="color: #3377c5">Join the Team</p></a></li>
	</li>
	
	<style>
	  li {
	  list-style-type: none;
	  margin-left: 10px;
	  margin-top: 15px;
	  font-size: 20px;
	}
	  li a {
		text-decoration: none;
	}
	li a:hover {
	  text-decoration: underline;
	  text-decoration-color:#3377c5;
	}
	</style>