---
layout: default
title: lim lab / team
categories:
 - team
---

<h1 class="current">Current Members</h1>

<style>
	.current {
	  margin-top: -10px;
	}
</style>

<div class="bigspacer"></div>
<div class="team">
{% for member in site.categories.team reversed %}
	{% if member.alumni != true %}
    {% cycle 'add rows': '<div class="row">', '', '' %}
		<div class="col-lg-4 memberbox">
			<div class="media">
  				<a class="member_image" href="{{ member.url }}">
    				<img width=130 height="130" class="member_image" src="{{ member.image }}">
  				</a>
 			 	<div class="media-body">
    				<div class="head mb-1"><a href="{{ member.url }}" class="member_title">{{ member.title }}</a></div>
    				<p class="member_position">{{ member.position }}</p>
  				</div>
				<style>
					.member_title {
						margin-top: 5px;
						text-decoration: none;
						color: black;
						font-size: 22px;
					}
					.member_title:hover {
						color: #3377c5;
					}
					.member_position {
						margin-top: 4px;
						font-size: 14px;
					}
					.member_image {
						margin-top: -10px;
					}
				</style>
			</div>
			<div class="bigspacer"></div>
			<div class="bigspacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'close rows': '', '</div>', '</div>' %}


<div class="bigspacer"></div>

{% for member in site.categories.team reversed %}
	{% if member.alumni == true %}
    {% cycle 'add rows 2': '<div class="row">', '', '' %}
		<div class="col-lg-4 memberbox">
			<div class="media">
  				<!--
  				<a class="pull-left" href="{{ member.url }}">
    				<img width=160 class="media-object" src="{{ member.image }}">
  				</a>
  				-->
 			 	<div class="media-body">
    				<div class="media_title"><a href="{{ member.url }}">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
        </div>
    {% cycle 'close rows 2': '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'close rows 2': '', '</div>', '</div>' %}
<style>
	.team {
		column-count: 4;
		margin-left: 100px;
	}
</style>	
</div>

<div>
	<img class="team_img" width="400" height="275" src="/images/team/lim-lab-team.jpg">
</div>

<style>
.team_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: -7px;
}
</style>

<h2 class="join_team">Join the Team</h2>

<p class="join"> We are seeking outstanding and motivated graduate students with research 
interests in genomics, transcriptomics, epigenomics, environmental exposures 
and cancer biology. Students would be enrolled in the Bioinformatics Graduate 
Program (<a href="https://www.bioinformatics.ubc.ca" class="join_link">https://www.bioinformatics.ubc.ca</a>)  
or Genome Science and Technology Graduate 
Program (<a href="https://www.gsat.ubc.ca" class="join_link">https://www.gsat.ubc.ca</a>). Candidates should 
apply directly to Dr. Emilia Lim at emilia.lim@ubc.ca with a cover letter, 
curriculum vitae, transcript, and contact details for references.</p>

<style>
	.join_link {
	  text-decoration: none;
	  color:#4d88cd;
	}
	.join_link:hover {
	  text-decoration: underline;
	  text-decoration-color:#4d88cd;
	  color:#4d88cd;
	}
	.join {
		margin-bottom: -5px;
	}
	.join_team {
		margin-bottom: -9px;
	}
  </style>