---
layout: default
title: lim lab / team
categories:
 - team
---

<h1>Current Members</h1>

<div class="bigspacer"></div>

{% for member in site.categories.team reversed %}
	{% if member.alumni != true %}
    {% cycle 'add rows': '<div class="row">', '', '' %}
		<div class="col-lg-4 memberbox">
			<div class="media">
  				<a class="float-left" href="{{ member.url }}">
    				<img width=160 class="mr-3" src="{{ member.image }}">
  				</a>
 			 	<div class="media-body">
    				<div class="head mb-1"><a href="{{ member.url }}" class="member_title">{{ member.title }}</a></div>
    				<p class="member_position">{{ member.position }}</p>
  				</div>
				<style>
					.member_title {
						text-decoration: none;
						color: #3377c5;
						font-size: 20px;
					}
					.member_title:hover {
						color: #004492
					}
				</style>
			</div>
			<div class="bigspacer"></div>
			<div class="bigspacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'close rows': '', '</div>', '</div>' %}


<div class="bigspacer"></div>

{% for member in site.categories.team reversed %}
	{% if member.alumni == true %}
    {% cycle 'add rows 2': '<div class="row">', '', '' %}
		<div class="col-lg-4 memberbox">
			<div class="media">
  				<!--
  				<a class="pull-left" href="{{ member.url }}">
    				<img width=160 class="media-object" src="{{ member.image }}">
  				</a>
  				-->
 			 	<div class="media-body">
    				<div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
        </div>
    {% cycle 'close rows 2': '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'close rows 2': '', '</div>', '</div>' %}

<li>	
	{% if page.categories.first == 'join' %}
		  <li class="nav-link active">
		  {% else %}
		  <li class="nav-link">
		  {% endif %}
		  <a style="font: size 18px;" class="mx-1" href="/join"><p style="color: #3377c5">Join the Team</p></a></li>
	</li>
	
	<style>
	  li {
	  list-style-type: none;
	  margin-top: 15px;
	  font-size: 20px;
	}
	  li a {
		text-decoration: none;
	}
	li a:hover {
	  text-decoration: underline;
	  text-decoration-color:#3377c5;
	}
	</style>