---
layout: default
title: lim lab / papers
categories:
 - papers
---

<nav>
  <ul>
      <a class="navbar-brand" href="/">
          <img class="logo navbar-brand d-inline-block align-top ml-0 mr-1" src="/images/logos/lablogo_white.svg" height="99" width="98.4" />
      <li><a href="/index.html/"><h1>Lim Lab</h1></a></li>
      <li><a href="/blog/">News</a></li>
      <li><a href="/papers/">Publications</a></li>
      <li><a href="/research/">Research</a></li>   
      <li><a href="/pubs/">papers</a></li>   
      <li><a href="/team/">Team</a></li>    
  </ul>
</nav>

<style>
  nav ul {
      display: flex;
      list-style: none;
  }
  nav ul li {
margin-right: auto;
  }
  nav ul li a {
      text-decoration: none;
  }
</style>

<h1>Selected Publications</h1>

{% for paper in site.categories.papers %}
{% capture prev_year %}{{ this_year }}{% endcapture %}
{% capture this_year %}{{ paper.year }}{% endcapture %}


{% if forloop.first %}
    {% assign counter = 0 %}
  <div class="row">
  {% elsif this_year != prev_year and this_year > "2012" %}
    {% assign counter = 0 %}
  </div>
  <div class="row">
  {% else %}
    {% assign counter = counter | plus: 1 %}
    {% assign mod = counter | modulo: 1 %}
    {% if mod == 0 %}

  </div>
  <div class="row">

    {% endif %}
  {% endif %}
  <div class="paperbox paperboxpadding">
    <div class="media">
      <div class="media-body">
        <div class="smallhead mb-1"><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></div>
        <p class="note">{{ paper.ref }}</p>
      </div>
      <a href="{{ paper.url }}">
        <img class="ml-3" width=600 class="media-object" src="{{ paper.image }}">
      </a>
    </div>
    <div class="bigspacer"></div>
    <div class="spacer"></div>
      </div>
{% endfor %}
  </div>