---
layout: post
---
<div class="row">
	<div class="col-lg-12">
		<div class="smallhead">
      <p>
        Environmental exposures have been associated with the incidence of 
        age-related illnesses such as cancer, cardiovascular disease, impaired 
        cognitive function, metabolic dysregulation. However, how most 
        environmental exposures, such as pollution, contribute to disease is 
        still unclear.
      </p>
      <style>
        div{
          max-width: 900px;
          margin-left: auto;
          margin-right: auto;
        }
      </style>
      <p>
        The Lim Lab investigates how environmental pollutants shape the 
        genomics, transcriptomics and epigenomics of cells to transform normal 
        tissues into disease states. 
      </p>
      <p>
        We utilize a multi-omic approach to study samples from cancer patients 
        and from individuals who have been exposed to pollution.
      </p>
      <p>
        Our lab is part of the <a href="https://biochem.ubc.ca">Department of Biochemistry and Molecular Biology</a> and the Edwin S.H. Leong Centre for Healthy Aging. We are located within the Life Sciences Institute at the University of British Columbia, and are affiliated with Canada's Michael Smith Genome Sciences Centre.
      </p>
      <img src="/images/UBC-home-page.png" class="imgMain" height="400" width="850" />
		</div>
	</div>
    <style>
        .imgMain{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</div>