---
layout: default
---
<nav>
	<ul>
		<a class="navbar-brand" href="/">
			<img class="white_logo" src="/images/logos/lablogo_white.svg" height="99" width="98.4" />
		<li><a href="/index.html/"><h1><p class="lim_lab" style="color: #3377c5"><b>Lim Lab</b></p></h1></a></li>
		<li><a href="/blog/"><p class="nav" style="color: #3377c5">News</p></a></li>
		<li><a href="/publications/"><p class="nav" style="color: #3377c5">Publications</p></a></li>
		<li><a href="/research/"><p class="nav" style="color: #3377c5">Research</p></a></li>
		<li><a href="/team/"><p class="nav" style="color: #3377c5">Team</p></a></li>    
	</ul>
  </nav>
  
<style>
	.white_logo{
		margin-left:-9px;
		margin-top:0.25px;
	}
</style>

  <style>
	nav ul {
		display: flex;
		list-style: none;
	}
	nav ul li {
  margin-right: auto;
  margin-top: -9px;
  margin-left: 8px;
	}
	nav ul li a {
		text-decoration: none;
	}
	li{
		margin-left: 10px;
    margin-top: 15px;
	}
  .lim_lab {
    margin-top: 35px;
    font-size: 37px;
  }
  .nav {
    font-size: 21px;
    margin-top: 10px;
  }
  </style>

<div class="row">
	<div class="col-lg-12">
		<div class="smallhead">
      <p style="font-size:18px;">
        Environmental exposures have been associated with the incidence of 
        age-related illnesses such as cancer, cardiovascular disease, impaired 
        cognitive function, metabolic dysregulation. However, how most 
        environmental exposures, such as pollution, contribute to disease is 
        still unclear.
      </p>
      <style>
        div{
          max-width: 1100px;
          margin-left: auto;
          margin-right: auto;
        }
      </style>
      <p style="font-size:18px;">
        The Lim Lab investigates how environmental pollutants shape the 
        genomics, transcriptomics and epigenomics of cells to transform normal 
        tissues into disease states. 
      </p>
      <p style="font-size:18px;">
        We utilize a multi-omic approach to study samples from cancer patients 
        and from individuals who have been exposed to pollution.
      </p>
      <p style="font-size:18px;">
        Our lab is part of the <a href="https://biochem.ubc.ca" class="homepage_link">Department of Biochemistry and Molecular Biology</a> and the <a href="https://healthyaging.med.ubc.ca/" class="homepage_link">Edwin S.H. Leong Centre for Healthy Aging</a>. We are located within the <a href="https://meg.lsi.ubc.ca/" class="homepage_link">Life Sciences Institute</a> at the University of British Columbia, and are affiliated with <a href="https://www.bcgsc.ca/" class="homepage_link">Canada's Michael Smith Genome Sciences Centre</a>.
      </p>
      <style>
        .homepage_link{
          text-decoration: none;
          color:#004da5;
        }
        .homepage_link:hover{
          text-decoration: underline;
          text-decoration-color:#004da5;
          color:#004da5;
        }
      </style>
      <img src="/images/UBC-home-page.png" class="imgMain" height="400" width="850" />
		</div>
	</div>
    <style>
        .imgMain{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

<footer>
  
              <a class="off" href="https://healthyaging.med.ubc.ca/">
                <img class="img_aging" width=60 height="65" src="/images/logos/logo_health_aging.png">
              </a>
              <a class="off" href="https://biochem.ubc.ca/">
                <img class="img_biochem" width="60" height="65" src="/images/logos/logo_biochem.png">
              </a>
              <a class="off" href="https://meg.lsi.ubc.ca/">
                <img class="img_meg" width="135" height="65" src="/images/logos/logo_meg.png">
              </a>
              &nbsp; &nbsp; &nbsp; &nbsp;
              <a class="off" href="https://www.ubc.ca">
                <img class="img_ubc" width=350 src="/images/logos/logo_ubc.png">
              </a>
  
  
  <style>
    .img_ubc {
      float:left;
      margin-bottom: 40px;
      margin-right: 25px;
      margin-top: 25px;
    }
    .img_aging {
      float:right;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-top: 25px;
    }
    .img_biochem {
      float: right;
      margin-right: 25px;
      margin-top: 25px;
    }
    .img_meg {
      float: right;
      margin-right: 10px;
      margin-top: 25px;
    }
  </style>
</footer>
</div>