---
layout: default
title: lim lab / publications
categories:
 - publications
---

<h1 class="publications">Selected Publications</h1>

<a href="https://scholar.google.ca/citations?hl=en&user=O34k-7EAAAAJ&view_op=list_works&sortby=pubdate" class="scholar">Google Scholar</a>

  <style>
    .publications {
      margin-top: -10px;
    }
    .scholar {
        font-size: 18px;
        text-decoration: none;
        color: #0055b7;
        float: right;
    }
    .scholar:hover {
        text-decoration: underline;
    }
  </style>

{% for publications in site.categories.publications %}

{% if forloop.first %}
    {% assign counter = 0 %}
  <div class="row">
  {% else %}
    {% assign counter = counter | plus: 1 %}
    {% assign mod = counter | modulo: 3 %}
    {% if mod == 0 %}

  </div>
  <div class="row">

    {% endif %}
  {% endif %}
  <div class="col-lg-4 paperbox">
    <div class="publication">
      <ul class="publication">
        <li><a href="{{ publications.pub-url }}" class="note"><img width=130 height="130" class="pub_img" src="{{ publications.image }}">{{ publications.title }}</a>
        <p class="ref">{{ publications.ref }}</p></li>
      </ul>
      <a href="{{ publications.pub-url }}">
      </a>
    </div>
    <div class="bigspacer"></div>
    <div class="spacer"></div>
      </div>
{% endfor %}
  </div>

  <style>
    .note {
        text-decoration: none;
        color: black;
        font-size: 22px;
        margin-bottom: -100px;
    }
    .note:hover {
        color: #3377c5;
    }
    .pub_img {
        float: left;
        margin-right: 17px;
    }
    .publication li {
        margin-bottom: 60px;
        margin-left: -17px;
        display: flex;
        height: 100px;
        justify-content: space-between;
        flex-direction: column
    }
    .ref {
        margin-left: 165px;
    }
  </style>

